{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <meta name="google-site-verification" content="khorPTuMpntMVPX7isIDARPH-h6bgClMjtp72H5QOuA" />
  <meta name="yandex-verification" content="314e262bd55080ef" />
  <meta name="Description" content="Брюховецкое водопроводное хозяйство, предприятие отвода и очистки стоков" />
  <title>Брюховецкое водопроводное хозяйство, предприятие отвода и очистки стоков</title>
  <base href="/" />
  <link rel="shortcut icon" href="/static/public/favicon.ico">
  <link href="https://static.fontawesome.com/css/fontawesome-app.css" rel="stylesheet">
  {% render_bundle 'app' 'css' %}
</head>
<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <!-- Rating@Mail.ru counter -->
    <script type="text/javascript">
        var _tmr = window._tmr || (window._tmr = []);
        _tmr.push({id: "3069687", type: "pageView", start: (new Date()).getTime()});
        (function (d, w, id) {
        if (d.getElementById(id)) return;
        var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
        ts.src = "https://top-fwz1.mail.ru/js/code.js";
        var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
        if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
        })(document, window, "topmailru-code");
    </script>
    <!-- //Rating@Mail.ru counter -->
    <div id="root" />
    {% render_bundle 'vendors' %} 
    {% render_bundle 'app' %}
</body>
</html>
