{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators", { "version": "legacy" }],
    ["@babel/plugin-transform-private-methods", { "loose": true }],
    ["@babel/plugin-transform-private-property-in-object", { "loose": true }],
    "@babel/plugin-transform-async-to-generator",
    [
      "import",
      {
        "libraryName": "@material-ui/core",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "material-core"
    ],
    [
      "import",
      {
        "libraryName": "@material-ui/icons",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "material-icon"
    ],
    [
      "transform-imports",
      {
        "material-ui": {
          "transform": "@material-ui/core/${member}",
          "preventFullImport": true
        }
      }
    ],
    "babel-plugin-lodash",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@": "./src",
          "@components": "./src/components",
          "@containers": "./src/containers",
          "@actions": "./src/actions",
          "@reducers": "./src/reducers",
          "@utils": "./src/utils",
          "@styles": "./src/styles"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "presets": [
        ["@babel/preset-env", { "modules": false }],
        "@babel/preset-react"
      ]
    },
    "production": {
      "presets": [
        ["@babel/preset-env", { "modules": false }],
        "@babel/preset-react"
      ],
      "plugins": [
        "transform-remove-console"
      ],
      "comments": false
    },
    "test": {
      "presets": [
        ["@babel/preset-env", { "targets": { "node": "current" } }],
        "@babel/preset-react"
      ],
      "plugins": [
        ["@babel/plugin-transform-runtime"],
        ["@babel/plugin-transform-modules-commonjs", { "spec": true }]
      ]
    }
  }
}
