@font-face {
  font-family: 'pfbeausanspro-reg';
  font-style: normal;
  font-weight: normal;
  src: local('pfbeausanspro-reg'), url(../fonts/pfbeausanspro-reg.ttf) format('truetype');
}

@font-face {
  font-family: 'pfbeausanspro-bold';
  font-style: normal;
  font-weight: bold;
  src: local('pfbeausanspro-bold'), url(../fonts/pfbeausanspro-bold.ttf) format('truetype');
}
