@font-face {
  font-family: 'PFBeauSansPro';
  font-style: normal;
  font-weight: normal;
  src: local('PFBeauSansPro'), url(../fonts/PFBeauSansPro-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'PFBeauSansPro';
  font-style: normal;
  font-weight: bold;
  src: local('PFBeauSansPro'), url(../fonts/PFBeauSansPro-Bold.otf) format('opentype');
}
