.content li {
    font-size: 16px;
    padding: 0 0 0 25px;
    margin: 0 0 5px 0;
    list-style-image: none;
    list-style: none;
    background: url(/static/images/check.svg) no-repeat 0 3px;
    background-size: 16px;
    -webkit-background-size: 16px;
    -o-background-size: 16px;
    -moz-background-size: 16px;
}